<!DOCTYPE html>
<html lang="en">

<head>
    <title>Search</title>
    <link rel="icon" href="favicon.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <style>
        #content{
            margin: 0 auto;
            width: 90%;
            padding-top: 15px;
        }
        table{
            /* table-layout: fixed; */
            width: 100%;
        }

        .right{
            float:right;
        }

        button{
            padding: 6px;
            width: 250px;
        }
    </style>
    <script>
        $(document).ready(function () {
           
        });
    </script>
</head>

<body>
    <form action="/getSearch" method="POST">
        <div class="row">
            <div class="col-auto">
                <label for="start_date" class="form-label">Start Date</label>
                <input type="date"id="start_date" name="start_date" class="form-control">
            </div>
            <div class="col-auto">
                <label for="end_date" class="form-label">End Date</label>
                <input type="date" id="end_date" name="end_date" class="form-control">
            </div>
        </div>
        <input type="submit" value="Get Tasks Due Within This Range">
    </form>
</body>
</html>